@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
  font-size: 1em;
  height: auto;
  min-height: 100%;
}

body {
  //background: rgb(255,255,255);
  //background: linear-gradient(123deg,$grey 32.9%, rgba(255,255,255,0.2) 33%, $grey 33.5%);
  background: rgb(43, 44, 40);
  background: linear-gradient(
    120deg,
    rgba(43, 44, 40, 1) 0%,
    rgba(43, 44, 40, 1) 32.7%,
    rgba(57,160,237, 0.5) 33%,
    rgba(43, 44, 40, 1) 33.3%,
    rgba(43, 44, 40, 1) 100%
  );
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
}

.header{
  display: grid;
  grid-template-columns: 6fr 24 fr 6fr;
  grid-template-rows: 4em 2em 2em 2em auto; 
  &__title{
    color: $blue;
    font-family: 'Geostar Fill', cursive;
    font-size: 2rem;
    grid-column: 2;
    grid-row: 2;
    height: 1em;
    text-align: left;
    text-shadow: 0.05em 0.1em 0.1em rgba(76, 96, 133, 0.25);
    top: 64px;
    width: 416px; 
  }
}

